@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: color-mix(in oklch, currentColor 35%, transparent)
    transparent;
}

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}
